%%% -*- mode: erlang -*-

{deps_dir , "deps"}.
{lib_dirs , []}.
{deps     , [ {samerlib, ".*", {git, "https://github.com/samuelrivas/samerlib",
                                {branch, "develop"}}}
            , {proper,   ".*", {git, "https://github.com/manopapad/proper.git",
                                {tag, "8f09ee5252f"}}}
            ]}.

%% Erlang compiler options
{erl_opts, [ debug_info
           , warnings_as_errors
           ]}.

%% Tests and checks
{cover_enabled       , true}.
{cover_print_enabled , true}.
{xref_warnings       , false}.
{xref_checks         , [undefined_function_calls]}.
{xref_queries        , [{"XC || DF",[]}]}. % Deprecated function calls
