%%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{cover_enabled, true}.

{xref_warnings, true}.
{xref_checks, [undefined_function_calls
               , undefined_functions
               , locals_not_used
               , deprecated_function_calls
              ]}.

{deps_dir, "deps"}.

{deps,
 [{samerlib, ".*",
   {git, "https://github.com/samuelrivas/samerlib", {branch, "develop"}}}
 ]}.
